<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vulnerability scanner</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
    <script>
        // Connect to the SocketIO server
        var socket = io.connect('http://' + document.domain + ':' + location.port);
    
        // Function to start the Ajax Spider and update status
        function startSpider() {
            var targetUrl = document.getElementById('target_url').value;
    
            // Emit a message to start the spider
            socket.emit('start_spider', { 'target_url': targetUrl });
    
            // Update status and show buttons on button click
            socket.on('update_status', function (data) {
                document.getElementById('status').innerHTML = data.status;
    
                if (data.completed) {
                    // Show the report and download buttons when the spider completes
                    document.getElementById('reportButton').style.display = 'block';
                    document.getElementById('downloadButton').style.display = 'block';
                }
            });
        }
    </script>
    <!-- Add this script at the end of your HTML body -->
    <script>
        // Function to toggle dropdown visibility
        function toggleDropdown() {
            var dropdownMenu = document.getElementById("myDropdown");
            dropdownMenu.style.display = (dropdownMenu.style.display === "block") ? "none" : "block";
        }

        // Close the dropdown if the user clicks outside of it
        window.onclick = function (event) {
            if (!event.target.matches('.dropdown-toggle')) {
                var dropdowns = document.getElementsByClassName("dropdown-menu");
                for (var i = 0; i < dropdowns.length; i++) {
                    var openDropdown = dropdowns[i];
                    if (openDropdown.style.display === "block") {
                        openDropdown.style.display = "none";
                    }
                }
            }
        }
    </script>

</head>

<body>
    <div>
        <header>
            <nav class="navbar">
                <img class="nav-logo" src="{{ url_for('static', filename='images/logo.png') }}" alt="">
                <ul>
                    <li>About</li>
                    <li>Services</li>
                    <li>Pricing</li>
                    <li>Resources</li>
                </ul>
                <div class="buttons">
                    <a class="buttons" href="">Sign in</a>
                    <button class="btn">Register</button>
                </div>
            </nav>
        </header>
        <div class="cont">
            <div class="first" onmousedown="return false" onselectstart="return false">
                <h1>Uncover <span class="hid">Hidden <br> Risks </span> with vulnerability <br> scanner</h1>
            </div>
            <div class="hero-img">
                <img src="{{ url_for('static', filename='images/hero.png') }}" alt="">
            </div>
            <form method="post" action="/">
                <div class="hero-buttons">
                    <input id="target_url" class="hero-btn" placeholder="Enter your URL" name="target_url" />
                    <!-- <button type="button" onclick="startSpider()" class="hero-btn1">Start Spider</button> -->
                    <div class="dropdown" onmousedown="return false" onselectstart="return false">
                        <button class="dropdown-toggle" onclick="toggleDropdown()"> Select Scan Type<img width="25"
                                height="25" src="https://img.icons8.com/ios-glyphs/30/FFFFFF/expand-arrow--v1.png"
                                alt="expand-arrow--v1" /></button>
                        <div class="dropdown-menu" id="myDropdown">
                            <button type="button" class="dropdown-item" onclick="startSpider()">Active
                                Scan</button>
                            <button type="button" class="dropdown-item" onclick="startSpider()">Passive
                                Scan</button>
                        </div>
                    </div>
                </div>
            </form>

            <!-- Display status -->
            <div style="display:flex; margin-top:1rem;">
                <div id="status"></div>
                <a href="/show_report" id="reportButton" class="btn-report" style="display: none;">Show Report</a>
                <!-- <a href="/download_report/{{ report_path }}" id="downloadButton" style="display: none;" class="btn-report">Download Report</a> -->
            </div>

        </div>
    </div>
</body>

</html>